   <header class="header">
     <h5><a href="/"> TOPに戻る</a></h5>
         <%= link_to "マイページ", "/users/#{current_user.id}", class: "balloon1" %>
         <%= link_to "投稿する", new_tweet_path, class: "balloon2" %>
    </header>