.header {
  position:fixed;
  top:0;
  width:400px;
  box-sizing:border-box;
  height:40px;
  padding:20px;
  z-index:300;
 
}

.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #a58eff;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon1:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #a58eff;
  z-index: 0;
}
.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}

.tweets-title {
  padding:100px;
  width:500px;
  margin-top:100px;
  text-align: left;
}

.contents-row {
text-align: left;
}

.contents-row{
  background-color: bisque;
}